<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hola mundo</p>
<a th:href="@{'/web/grupos/nuevo'}"> Ir a añadir un grupo músculo </a>
<tr th:each="grupo : ${grupos}">
    <td th:text="${grupo.id}">1</td>
    <td th:text="${grupo.nombre}">Pectoral</td>
    <td th:text="${grupo.descripcion}">Músculo del pecho</td>
    <td>
        <a th:href="@{'/web/grupos/' + ${grupo.id} + '/editar'}">Editar</a>
        <a th:href="@{'/web/grupos/' + ${grupo.id} + '/borrar'}">Borrar</a>
    </td>
</tr>

</body>
</html>